.sas
{
    overflow: hidden;
}


body {
    @apply bg-gray-800 text-white
  }

  main {
    
    position:relative;
}
main::before {
    content: "";
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background-image: url("../../../assets/images/rickandmorty.jpg");
    background-size: cover;
    opacity:50%;
}
#inside {
    position:relative;
}